.field-row {
	margin-top: 15px;
}
.preview-image {
    background-color: #fafafa;
    margin-right: 12px;
    border: 1px solid #eee;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.button.new-media,
.button.remove-media {
    width: 100px;
    margin-right: 5px;
}
